* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Arial, sans-serif;
}

body {
background: #eae7f3;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.container {
background: white;
border: 1px solid #ccc;
padding: 40px 50px;
border-radius: 8px;
width: 350px;
box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.logo {
text-align: center;
margin-bottom: 25px;
}

.logo img {
width: 60px;
}

.logo h2 {
color: #333;
margin-top: 10px;
}

.logo p {
font-size: 14px;
color: gray;
}

.buttons {
display: flex;
justify-content: center;
margin-bottom: 25px;
}

.buttons button {
flex: 1;
padding: 10px;
border: none;
background: #f8f7fc;
cursor: pointer;
font-weight: bold;
border-radius: 4px;
}

.buttons .active {
background: #65646e;
color: white;
}
.buttons sign-up {
    text-decoration: none;
    color: white;
}

form {
display: flex;
flex-direction: column;
}

label {
font-size: 14px;
margin: 10px 0 5px;
}

.input-box {
display: flex;
align-items: center;
border: 1px solid #ccc;
border-radius: 4px;
padding: 8px;
margin-bottom: 10px;
}

.input-box .icon {
margin-right: 8px;
}

.input-box input {
flex: 1;
border: none;
outline: none;
}

.input-box .eye {
cursor: pointer;
}

.create-btn {
background: #9083d5;
color: white;
border: none;
padding: 10px;
border-radius: 4px;
font-weight: bold;
margin-top: 10px;
cursor: pointer;
}

.create-btn:hover {
background: #0b0b0b;
}

.signup-text {
text-align: center;
font-size: 13px;
color: rgb(82, 78, 78);
margin-top: 15px;
}

.signup-text a {
color: #080808;
text-decoration: none;
font-weight: bold;
}
